@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* Write this document in order from least specific (top), to most specific (bottom)! */

/******************************/
/* Type styling */
body {
  background-color: aliceblue;
  color: #111;
  font: 300 1em 'Roboto', helvetica, arial, sans-serif;
}

/******************************/
/* Reusable "generic" rules */
.list-unstyled {
  padding-left: 0;
  list-style-type: none;
}
.subheading {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #444;
}

/******************************/
/* Specific to this page */


.listings {
  display: grid;
  gap: 2em;
  padding: 1em;
  /* align-items: start; */
}

.property {
  position: relative;
  /* max-width: 40rem; */
  /* margin: 0 auto; */
  background-color: #fff;
  box-shadow:
    0 .25em 1em rgba(0,0,0,0.5),
    0 0 3em rgba(0,0,0,0.3);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.favourite {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5em;
  color: white;
}
.favourite.yes {
  color: red;
}

.info {
  padding: 0.5rem 1rem;
  flex-grow: 1;
}
.details {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  margin: 0.5rem 0;
}
.property-detail {
  /* display: inline; */
  /* background-color: lightgreen; */
  text-transform: uppercase;
  font-weight: 700;
  color: #444;
  font-size: 0.75em;
}
.property-detail:not(:first-child)::before {
  content: "\2022";
  margin-right: 0.5rem;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 0.667;
}


.cost {
  font-size: 2em;
  font-weight: 300;
  margin: 0.5rem 0;
}

/* .cost::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: tomato;
  background-image: url('../img/bedroom.svg');
  background-size: cover;
} */

.address {
  font-size: 1em;
  font-weight: 300;
  margin: 0.5rem 0;
}

.rooms {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 1rem;
}
.room {
  display: inline-block;
  margin-right: 1em;
}
.room-icon {
  height: 1.5em;
  margin-right: 0.5em;
}

.realtor {
  background-color: #f3f3f3;
  display: flow-root;
  padding: 0.5rem 1rem;
}
.agent {
  display: flex;
  gap: 0.5em;
  font-style: normal;
  margin: 0.5rem 0;
}
.agent-face {
  width: 2.5em;
  height: 2.5em;
  object-fit: cover;
  border-radius: 50%;
}
.contact {
  margin: 0;
}
.contact-num {
  margin: 0;
}


@media screen and (min-width: 40rem) {
  .listings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 60rem) {
  .listings {
    grid-template-columns: repeat(3, 1fr);
    max-width: 70rem;
    margin: 0 auto;
  }
}